$notoSans: "Noto Sans JP", sans-serif;
$navy: #0E2B4D;
$red: #d14547;
$bgGreen: #F3F7F5;
$bgOrange: #F8F1ED;
$darkGreen: #007783;
$helvetica: "helvetica-neue-lt-pro", sans-serif;
$nibusSans: "nimbus-sans", sans-serif;
$filterRed: brightness(0) saturate(100%) invert(31%) sepia(71%) saturate(1818%) hue-rotate(333deg) brightness(89%) contrast(82%);