@use './reset';
@use './mixin/mixin' as *;
@use './root/root' as *;

html {
  font-size: 10px;
  @include media('sp') {
    font-size: calc(100vw * 10 / 375);
  }
  @include media('pc') {
    font-size: 10px;
  }
}
body {
  overflow-x: hidden;
  font-size: 1.5rem;
  font-family: $notoSans;
  color: $navy;
  font-weight: 500;
}
p {
  font-size: 1.4rem;
  line-height: calc(22 / 15);

  @include media('tab') {
    font-size: 1.6rem;
    line-height: 2;
  }
}
img {
  max-width: 100%;
  height: auto;
}
a {
  transition: .5s;
}
h1, h2, h3, h4, h5 {
  font-weight: bold;
}
.tab, .pc {
  display: none;
}
.sp {
  display: block;
}

.en {
  font-family: $helvetica;
  font-weight: 200;
  font-size: .9rem;
  letter-spacing: .4em;
}
@include media('tab') {
  .sp, .pc {
    display: none;
  }
  .tab {
    display: block;
  }
  
}
@include media('pc') {
  .sp, .tab {
    display: none;
  }
  .pc {
    display: block;
  }
}
.circle {
  position: relative;
  padding-left: 1.5rem;
  &:before {
    width: .9rem;
    height: .9rem;
    border-radius: 50%;
    border: 2.9px solid $red;
    @include center(y);
    left: 0;
    content: '';
  }
  &.bg_green {
    &::before {
      border: 2.9px solid #fff;
    }
  }
}
header {
  @include flex($dir:y);
  width: 100%;
  height: 5.6rem;
  justify-content: space-between;
  padding: 0 2.3rem 0 1.2rem;
  position: fixed;
  z-index: 10000;
  background-color: #fff;
  top: 0;
  left: 0;
  .logo-area {
    @include flex($dir:y);
    gap: 0 1.2rem;

    h1, p {
      font-weight: 900;
      font-size: 1.1rem;
    }
  }
  .menu { 
    display: none;
  }
  >ul {
    display: none;
  }
  .hbtn {
    width: 4.8rem;
    height: 4.8rem;
    position: relative;
    background-color: #fff;
    border-radius: 50%;
    z-index: 100;
    span {
      width: 1.8rem;
      height: 2px;
      @include center(x);
      border-radius: 5px;
      background-color: $navy;
      transition: .5s;
      &:first-of-type {
        top: 1.6rem;
      }
      &:nth-of-type(2) {
        top: 50%;
        transform: translate(-50%, -50%);
      }
      &:last-of-type {
        top: calc(100% - 17.6px);
      }
    }
    &.active {
      span {
        top: 50%;
        &:first-of-type {
          transform: translate(-50%, -50%) rotate(45deg);
        }
        &:nth-of-type(2) {
          opacity: 0;
        }
        &:last-of-type {
          transform: translate(-50%, -50%) rotate(-45deg);
        }
      }
    }
  }
  .fix-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 85%;
    height: 100vh;
    @include bgimg('../img/common/header_bg', auto);
    color: #fff;
    padding: 8rem 2rem 6rem;
    overflow-y: scroll;
    transform: translateX(100%);
    transition: .5s;
    >ul {
      flex-direction: column;
      display: flex;
      gap: 3rem 0;
      & + ul {
        margin-top: 4rem;
      }
      >li {
        font-size: 1.8rem;
        &.two {
          &:before {
            top: 7px;
            transform: none;
          }
        }
        small {
          display: inline-block;
          margin-top: 1.6rem;
        }
      }
    }
    .small {
      margin-top: 1.6rem;
      li {
        font-size: 1.4rem;
        & + li {
          margin-top: 1.5rem;
        }
      }
    }
    >div {
      margin-top: 4rem;
      text-align: center;
      p {
        font-size: 2.1rem;
        text-align: center;
      }
    }
    &.active {
      transform: translateX(0);
    }
  }
  @include media('tab') {
    height: 8.9rem;
    >ul {
      @include flex($dir:y);
      gap: 0 3rem;
      margin: 0 7rem 0 auto;
      li {
        font-weight: bold;
      }
    }
    .fix-menu {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      padding-top: 13rem;
      >ul {
        gap: 4rem 0;
        width: 45%;
        & + ul {
          margin-top: 0;
        }
        >li {
          font-size: 2.1rem;
        }
        .small {
          li {
            font-size: 1.7rem;
          }
        }
      }
      >div {
        width: 50%;
        margin: 0 5rem 0 auto;
      }
    }
  }
  @include media('pc') {
    .fix-menu {
      justify-content: center;
      gap: 0 15.5rem;
      width: 95rem;
      >ul {
        width: 30%;
      }
      >div {
        margin: 0 -3rem 0 auto;
      }
    }
  }
}
main {
  margin-top: 5.6rem;
  @include media('tab') {
    margin-top: 8.9rem;
  }
}
.container {
  max-width: 107rem;
  margin: 0 auto;
  padding: 0 2rem;
}
// 共通
.ttl {
  font-size: 2.2rem;
  letter-spacing: 0.15em;
  margin-bottom: 1.5rem;
  text-align: center;
  &::first-letter {
    color: $red;
  }
  @include media('tab') {
    font-size: 4.2rem;
    margin-bottom: 3rem;
    letter-spacing: .1em;
  }
}

.btn {
  display: block;
  width: 18rem;
  height: 4rem;
  border: solid 2px $red;
  border-radius: 52px;
  line-height: 3.6rem;
  position: relative;
  margin: 0 auto;
  color: $red;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  background-color: #fff;
  @include rightRedArrow;
  &:hover {
    background-color: $red;
    color: #fff;
  }
  @include media('tab') {
    width: 25rem;
    font-size: 1.5rem;
  }
  
}

.breadcrumbs{
  @include flex($dir:y);
  gap: 0 2.6rem;
  flex-wrap: wrap;
  padding-top: 3rem;
  padding-bottom: 3rem;
  li {
    & + li {
      position: relative;
      &::before {
        content: '-';
        @include center(y);
        left: -1.6rem;
      }
    }
    a {
      font-size: .9rem;
      font-weight: 400;
      &.current {
        color: $red;
      }
    }
  }
}

.fv {
  background: linear-gradient(
    to bottom,
    #fff 0%,
    #fff 80%,
    $bgGreen 80%,
    $bgGreen 100%
  );
  img {
    width: 100%;
  }
  @include media('tab') {
    background: linear-gradient(
      to bottom,
      #fff 0%,
      #fff 63%,
      $bgGreen 63%,
      $bgGreen 100%
    );
  }
}
.sec1 {
  position: relative;
  background-color: $bgGreen;
  padding: 3.5rem 0 4rem;
  margin-bottom: 9rem;
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 41.6vw;
    background-image: url(../img/top/sec1_bg.svg);
    background-size: 100% 100%;
    background-position: bottom;
    left: 0;
    bottom: -17vw;
  }
  .container {
    >p {
      font-size: 1.4rem;
      line-height: calc(23 / 14);
      text-align: center;
      margin-bottom: 4rem;
    }
  }
  &-banner {
    @include flex($dir: y);
    flex-direction: column;
    gap: 4rem 0;
    >a {
      width: 100%;
      @include flex($dir:xy);
      gap: 0 1.3rem;
      background-color: #fff;
      border-radius: 10px;
      height: 14rem;
      position: relative;
      overflow: hidden;
      transition: 0s;
      &:hover {
        border: solid 1px $red;
      }
      &::before, &::after {
        content: '';
        position: absolute;
      }
      &::before {
        width: .8rem;
        height: .8rem;
        background-image: url(../img/common/right_arrow.svg);
        background-size: 100% 100%;
        bottom: .9rem;
        right: .9rem;
        z-index: 10;
      }
      &::after {
        background-color: $red;
        width: 4.5rem;
        height: 4.5rem;
        bottom: 0;
        right: 0;
        clip-path: polygon(100% 0, 0% 100%, 100% 100%);
      }
      picture {
        width: 6rem;
        display: block;
        text-align: center;
      }
      >div {
        width: 22.7rem;
        .ttl {
          margin-bottom: .8rem;
          text-align: left;
        }
        p {
          font-size: 1.3rem;
          font-weight: 400;
        }
      }
    }
  }
  @include media('tab') {
    padding: 7rem 0 10rem;
    &::after {
      background-image: url(../img/top/sec1_bg_pc.svg);
      height: 8.6vw;
      bottom: -8vw;
    }
    .container {
      >p {
        font-size: 1.6rem;
        line-height: 2;
        margin-bottom: 6.5rem;
      }
    }
    &-banner {
      >a {
        max-width: 75rem;
        height: 18rem;
        gap: 0 7.8rem;
        padding-left: 6.5rem;
        justify-content: flex-start;
        picture {
          width: 9rem;
        }
        >div {
          width: 47rem;
          h3 {
            font-size: 3.5rem;
            letter-spacing: .04em;
          }
        }
      }
    }
  }
}
.sec2 {
  padding-bottom: 3.5rem;
  h2 {
    &:last-of-type {
      margin-top: 3.6rem;
    }
  }
  p {
    text-align: center;
    margin-bottom: 1.5rem;
  }
  .btn {
    margin-bottom: 4.7rem;
  }
  picture {
    display: block;
    text-align: center;
  }
  @include media('tab') {
    padding: 12rem 0 8rem;
    p {
      margin-bottom: 3rem;
    }
    .btn {
      &:first-of-type {
        margin-bottom: 9.6rem;
      }
    }
  }
}
.news {
  padding: 5rem 0 7rem;
  position: relative;
  background-color: $bgOrange;
  margin-top: 3rem;
  &::before, &::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    background-size: cover;
  }
  &::before {
    top: -7rem;
    height: 19vw;
    background-image: url(../img/top/news_bg.svg);
  }
  &::after {
    bottom: 0rem;
    height: 13vw;
    background-image: url(../img/top/news_bg2.svg);
  }
  .ttl {
    margin-bottom: 3rem;
  }
  &-flex {
    @include flex(y);
    flex-direction: column;
    gap: 1.5rem 0;
    margin-bottom: 4rem;
    a {
      width: 100%;
      height: 6rem;
      @include flex(x);
      flex-direction: column;
      background-color: #fff;
      position: relative;
      border-radius: 5px;
      padding: 0 2rem;
      gap: .2rem 0;
      @include rightRedArrow;
      transition: 0s;
      &:hover {
        border: solid 1px $red;
        &::after {
          filter: brightness(0) saturate(100%) invert(30%) sepia(22%) saturate(6032%) hue-rotate(335deg) brightness(95%) contrast(76%);
        }
      }
      time {
        font-size: .9rem;
        font-weight: bold;
      }
      p {
        font-size: 1.3rem;
        font-weight: 400;
      }
    }
  }
  @include media('tab') {
    padding: 8rem 0 9rem;
    &::before {
      top: -10vw;
      background-image: url(../img/top/news_bg_pc.svg);
      height: 10vw
    };
    &::after {
      background-image: url(../img/top/news_bg_pc2.svg);
      height: 7vw;
    }
    .ttl {
      margin-bottom: 6.4rem;
    }
    &-flex {
      gap: 3rem 0;
      margin-bottom: 6.7rem;
      a {
        flex-direction: row;
        align-items: center;justify-content: flex-start;
        gap: 0 3rem;
        padding: 0 3rem;
        height: 6rem;
        border-radius: 40px;
        &::after {
          right: 2.2rem;
        }
        time, p {
          font-size: 1.6rem;
        }
      }
    }
  }
}
.sec3 {
  padding: 9.5rem 0;
  .container {
    max-width: 128rem;
    .ttl {
      margin-bottom: 6.5rem;
    }
  }
  &-flex {
    @include flex(y);
    flex-direction: column;
    gap: 7.5rem 0;
    >div {
      width: 31rem;
      picture {
        width: 100%;
        height: 24.8rem;
        @include flex(xy);
      }
      small {
        margin-top: 2rem;
        display: block;
        text-align: center;
      }
      h3 {
        margin: 1rem 0;
        text-align: center;
        font-size: 1.7rem;
        letter-spacing: 0.14em;
        span {
          position: relative;
          &::before {
            content: '';
            @include center(y);
            width: 1.7rem;
            height: 1.7rem;
            left: -3rem;
            background-image: url(../img/common/c_arrow.svg);
            background-size: cover;
          }
        }
      }
      p {
        font-size: 1.3rem;
        line-height: calc(19 / 13);
        text-align: center;
      }
    }
  }
  @include media('tab') {
    padding: 11.5rem 0 14rem;
    .container{
      .ttl {
        margin-bottom: 8rem;
      }
    } 
    &-flex {
      flex-direction: row;
      gap: 10rem 0;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}
.sec4 {
  padding: 14rem 0 20rem;
  background-color: $bgGreen;
  position: relative;
  &::before, &::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    background-size: 100% 100%;
  }
  &::before {
    height: 14vw;
    background-image: url(../img/top/sec4_bg1.svg);
    top: -14vw;
  }
  &::after {
    height: 10vw;
    bottom: -10vw;
    background-image: url(../img/top/sec4_bg2.svg);
  }
  .plane, .bird, .illust {
    position: absolute;
  }
  .plane {
    top: 2rem;
    right: 1rem;
  }
  .bird {
    top: 3.5rem;
    left: 1rem;
  }
  .container{
    h2 {
      text-align: center;
      margin-bottom: 2rem;
    }
    h3 {
      font-size: 2rem;
      text-align: center;
      margin-bottom: 2rem;
    }
    >p {
      text-align: center;
      margin-bottom: 4rem;
    }
  }
  &-flex {
    @include flex(y);
    flex-direction: column;
    gap: 4.5rem 0;
    a {
      background-color: #fff;
      border-radius: 9px;
      height: 11.5rem;
      @include flex(xy);
      flex-direction: column;
      gap: 1.4rem 0;
      max-width: 34rem;
      width: 100%;
      position: relative;
      overflow: hidden;
      &::before {
        content: '';
        position: absolute;
        width: 2.8rem;
        height: 2.8rem;
        top: 0;
        left: 0;
        clip-path: polygon(100% 0, 0 0, 0 100%);
        background-color: $red;
      }
      &:hover {
        transition: 0s;
        border: solid 1px $red;
      }
      small {
        font-size: .9rem;
        color: $red;
      }
      p {
        font-size: 2rem;
        font-weight: bold;
      }
    }
  }
  .illust {
    position: absolute;
    bottom: -4rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    text-align: center;
  }
  @include media('tab') {
    padding-bottom: 10rem;
    margin-top: 12vw;
    &::before {
      background-image: url(../img/top/sec4_bg1_pc.svg);
      height: 12vw;
      top: -11vw;
    }
    &::after {
      background-image: url(../img/top/sec4_bg2_pc.svg);
      height: 12vw;
    }
    .bird {
      top: 23.5rem;
    }
    .container {
      h2 {
        img {
        max-width: 62.4rem;
        width: 100%;
        }
      }
      h3 {
        font-size: 3.2rem;
        letter-spacing: .1em;
      }
    }
    &-flex {
      flex-direction: row;
      gap: 4.3rem;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  .illust {
    width: 83%;
    bottom: -15rem;
  }
  @include media('pc') {
    .plane {
      right: 10%;
    }
    .bird {
      left: 10%;
    }
    .illust {
      bottom: -17vw;
    }
  }
}
footer {
  &.top {
    margin-top: 20rem;
  }
  padding: 6rem 0;
  .container {
    display: flex;
    flex-direction: column;
    gap: 4rem 0;
    max-width: 124rem;
    >div {
      strong {
        font-size: 2.4rem;
      }
      p {
        margin: 1.5rem 0 2rem;
      }
      small {
        font-size: .9rem;
      }
    }
    nav {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      ul {
        li {
          & + li {
            margin-top: 1.5rem;
          }
          a {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
  @include media('tab') {
    &.top {
      margin-top: 20vw;
    }
    .container {
      flex-direction: row;
      justify-content: space-between;
      nav {
        flex-direction: row;
        gap: 0 6rem;
      }
    }
  }
  @include media('pc') {
    .container {
      nav {
        align-items: baseline;
        ul {
          &:last-of-type {
            display: flex;
            gap: 6rem;
            li {
              & + li {
                margin-top: 0;
              }
            }
          }
        }
      }
    }
  }
}
// under-fv
.under-fv {
  .ttl {
    text-align: left;
    font-size: 2.6rem;
    letter-spacing: 0;
    margin-bottom: 3rem;
    font-weight: 500;
  }
}

// goal

